In [82]:
import pandas as pd

df = pd.read_excel('/Users/praveenmadhogaria/Desktop/Pandas_Tutorial/Customer Call List.xlsx')
df

    CustomerID First_Name  ... Do_Not_Contact Not_Useful_Column
0         1001      Frodo  ...             No              True
1         1002       Abed  ...            Yes             False
2         1003     Walter  ...            NaN              True
3         1004     Dwight  ...              Y              True
4         1005        Jon  ...             No              True
5         1006        Ron  ...            Yes              True
6         1007       Jeff  ...             No             False
7         1008   Sherlock  ...             No             False
8         1009    Gandalf  ...            NaN             False
9         1010      Peter  ...             No              True
10        1011    Samwise  ...             No              True
11        1012      Harry  ...            NaN              True
12        1013        Don  ...              N             False
13        1014     Leslie  ...             No             False
14        1015       Toby  ...             No             False
15        1016        Ron  ...              N             False
16        1017   Michael   ...             No             False
17        1018      Clark  ...            NaN              True
18        1019      Creed  ...            Yes              True
19        1020     Anakin  ...              N              True
20        1020     Anakin  ...              N              True

[21 rows x 8 columns]

In [83]:
df.drop_duplicates(inplace=True)    #dropping duplicates
df

    CustomerID First_Name  ... Do_Not_Contact Not_Useful_Column
0         1001      Frodo  ...             No              True
1         1002       Abed  ...            Yes             False
2         1003     Walter  ...            NaN              True
3         1004     Dwight  ...              Y              True
4         1005        Jon  ...             No              True
5         1006        Ron  ...            Yes              True
6         1007       Jeff  ...             No             False
7         1008   Sherlock  ...             No             False
8         1009    Gandalf  ...            NaN             False
9         1010      Peter  ...             No              True
10        1011    Samwise  ...             No              True
11        1012      Harry  ...            NaN              True
12        1013        Don  ...              N             False
13        1014     Leslie  ...             No             False
14        1015       Toby  ...             No             False
15        1016        Ron  ...              N             False
16        1017   Michael   ...             No             False
17        1018      Clark  ...            NaN              True
18        1019      Creed  ...            Yes              True
19        1020     Anakin  ...              N              True

[20 rows x 8 columns]

In [84]:
df.drop(columns='Not_Useful_Column', inplace=True)         #dropping specific column
df

    CustomerID First_Name  ... Paying Customer Do_Not_Contact
0         1001      Frodo  ...             Yes             No
1         1002       Abed  ...              No            Yes
2         1003     Walter  ...               N            NaN
3         1004     Dwight  ...             Yes              Y
4         1005        Jon  ...               Y             No
5         1006        Ron  ...             Yes            Yes
6         1007       Jeff  ...              No             No
7         1008   Sherlock  ...               N             No
8         1009    Gandalf  ...             Yes            NaN
9         1010      Peter  ...             Yes             No
10        1011    Samwise  ...             Yes             No
11        1012      Harry  ...               Y            NaN
12        1013        Don  ...             Yes              N
13        1014     Leslie  ...             Yes             No
14        1015       Toby  ...               N             No
15        1016        Ron  ...              No              N
16        1017   Michael   ...             Yes             No
17        1018      Clark  ...               Y            NaN
18        1019      Creed  ...             N/a            Yes
19        1020     Anakin  ...             Yes              N

[20 rows x 7 columns]

In [85]:
df['Last_Name']=df['Last_Name'].str.strip("/..._ ")
df

    CustomerID First_Name  ... Paying Customer Do_Not_Contact
0         1001      Frodo  ...             Yes             No
1         1002       Abed  ...              No            Yes
2         1003     Walter  ...               N            NaN
3         1004     Dwight  ...             Yes              Y
4         1005        Jon  ...               Y             No
5         1006        Ron  ...             Yes            Yes
6         1007       Jeff  ...              No             No
7         1008   Sherlock  ...               N             No
8         1009    Gandalf  ...             Yes            NaN
9         1010      Peter  ...             Yes             No
10        1011    Samwise  ...             Yes             No
11        1012      Harry  ...               Y            NaN
12        1013        Don  ...             Yes              N
13        1014     Leslie  ...             Yes             No
14        1015       Toby  ...               N             No
15        1016        Ron  ...              No              N
16        1017   Michael   ...             Yes             No
17        1018      Clark  ...               Y            NaN
18        1019      Creed  ...             N/a            Yes
19        1020     Anakin  ...             Yes              N

[20 rows x 7 columns]

In [87]:
df['Phone_Number']=df['Phone_Number'].replace(to_replace='[^0-9]',value='',regex=True)
df

    CustomerID First_Name  ... Paying Customer Do_Not_Contact
0         1001      Frodo  ...             Yes             No
1         1002       Abed  ...              No            Yes
2         1003     Walter  ...               N            NaN
3         1004     Dwight  ...             Yes              Y
4         1005        Jon  ...               Y             No
5         1006        Ron  ...             Yes            Yes
6         1007       Jeff  ...              No             No
7         1008   Sherlock  ...               N             No
8         1009    Gandalf  ...             Yes            NaN
9         1010      Peter  ...             Yes             No
10        1011    Samwise  ...             Yes             No
11        1012      Harry  ...               Y            NaN
12        1013        Don  ...             Yes              N
13        1014     Leslie  ...             Yes             No
14        1015       Toby  ...               N             No
15        1016        Ron  ...              No              N
16        1017   Michael   ...             Yes             No
17        1018      Clark  ...               Y            NaN
18        1019      Creed  ...             N/a            Yes
19        1020     Anakin  ...             Yes              N

[20 rows x 7 columns]

In [88]:
df['Phone_Number']=df['Phone_Number'].apply(lambda x: str(x))  #converting column to string
df['Phone_Number']=df['Phone_Number'].apply(lambda x: x[0:3]+'-'+x[3:6]+'-'+x[6:])   #formatting phone number
df

    CustomerID First_Name  ... Paying Customer Do_Not_Contact
0         1001      Frodo  ...             Yes             No
1         1002       Abed  ...              No            Yes
2         1003     Walter  ...               N            NaN
3         1004     Dwight  ...             Yes              Y
4         1005        Jon  ...               Y             No
5         1006        Ron  ...             Yes            Yes
6         1007       Jeff  ...              No             No
7         1008   Sherlock  ...               N             No
8         1009    Gandalf  ...             Yes            NaN
9         1010      Peter  ...             Yes             No
10        1011    Samwise  ...             Yes             No
11        1012      Harry  ...               Y            NaN
12        1013        Don  ...             Yes              N
13        1014     Leslie  ...             Yes             No
14        1015       Toby  ...               N             No
15        1016        Ron  ...              No              N
16        1017   Michael   ...             Yes             No
17        1018      Clark  ...               Y            NaN
18        1019      Creed  ...             N/a            Yes
19        1020     Anakin  ...             Yes              N

[20 rows x 7 columns]

In [93]:
#df['Phone_Number'].replace(to_replace='nan--',value='',regex=True,inplace=True)   #deleting nan values
df['Phone_Number'].replace(to_replace='--',value='',regex=True,inplace=True)       #deleting -- values
df

    CustomerID First_Name  ... Paying Customer Do_Not_Contact
0         1001      Frodo  ...             Yes             No
1         1002       Abed  ...              No            Yes
2         1003     Walter  ...               N            NaN
3         1004     Dwight  ...             Yes              Y
4         1005        Jon  ...               Y             No
5         1006        Ron  ...             Yes            Yes
6         1007       Jeff  ...              No             No
7         1008   Sherlock  ...               N             No
8         1009    Gandalf  ...             Yes            NaN
9         1010      Peter  ...             Yes             No
10        1011    Samwise  ...             Yes             No
11        1012      Harry  ...               Y            NaN
12        1013        Don  ...             Yes              N
13        1014     Leslie  ...             Yes             No
14        1015       Toby  ...               N             No
15        1016        Ron  ...              No              N
16        1017   Michael   ...             Yes             No
17        1018      Clark  ...               Y            NaN
18        1019      Creed  ...             N/a            Yes
19        1020     Anakin  ...             Yes              N

[20 rows x 7 columns]

In [99]:
df[['Street Name','State','Zipcode']]=df['Address'].str.split(',',expand=True)
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire    None
1         1002       Abed  ...           None    None
2         1003     Walter  ...           None    None
3         1004     Dwight  ...   Pennsylvania   18503
4         1005        Jon  ...           None    None
5         1006        Ron  ...           None    None
6         1007       Jeff  ...           None    None
7         1008   Sherlock  ...           None    None
8         1009    Gandalf  ...           None    None
9         1010      Peter  ...       New York    None
10        1011    Samwise  ...          Shire    None
11        1012      Harry  ...           None    None
12        1013        Don  ...           None    None
13        1014     Leslie  ...           None    None
14        1015       Toby  ...           None    None
15        1016        Ron  ...           None    None
16        1017   Michael   ...   Pennsylvania    None
17        1018      Clark  ...           None    None
18        1019      Creed  ...           None    None
19        1020     Anakin  ...       Tatooine    None

[20 rows x 10 columns]

In [103]:
df['Paying Customer'].replace(to_replace='Yes',value='Y',inplace=True)   #replacing yes to Y
#df['Paying Customer'].replace(to_replace='No',value='N',inplace=True)   #replacing no to N
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire    None
1         1002       Abed  ...           None    None
2         1003     Walter  ...           None    None
3         1004     Dwight  ...   Pennsylvania   18503
4         1005        Jon  ...           None    None
5         1006        Ron  ...           None    None
6         1007       Jeff  ...           None    None
7         1008   Sherlock  ...           None    None
8         1009    Gandalf  ...           None    None
9         1010      Peter  ...       New York    None
10        1011    Samwise  ...          Shire    None
11        1012      Harry  ...           None    None
12        1013        Don  ...           None    None
13        1014     Leslie  ...           None    None
14        1015       Toby  ...           None    None
15        1016        Ron  ...           None    None
16        1017   Michael   ...   Pennsylvania    None
17        1018      Clark  ...           None    None
18        1019      Creed  ...           None    None
19        1020     Anakin  ...       Tatooine    None

[20 rows x 10 columns]

In [107]:
#df['Do_Not_Contact'].replace(to_replace='Yes',value='Y',inplace=True)   #replacing yes to Y
df['Do_Not_Contact'].replace(to_replace='No',value='N',inplace=True)   #replacing no to N
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire    None
1         1002       Abed  ...           None    None
2         1003     Walter  ...           None    None
3         1004     Dwight  ...   Pennsylvania   18503
4         1005        Jon  ...           None    None
5         1006        Ron  ...           None    None
6         1007       Jeff  ...           None    None
7         1008   Sherlock  ...           None    None
8         1009    Gandalf  ...           None    None
9         1010      Peter  ...       New York    None
10        1011    Samwise  ...          Shire    None
11        1012      Harry  ...           None    None
12        1013        Don  ...           None    None
13        1014     Leslie  ...           None    None
14        1015       Toby  ...           None    None
15        1016        Ron  ...           None    None
16        1017   Michael   ...   Pennsylvania    None
17        1018      Clark  ...           None    None
18        1019      Creed  ...           None    None
19        1020     Anakin  ...       Tatooine    None

[20 rows x 10 columns]

In [109]:
df.fillna(value='',inplace=True)   #filling Nan with approriate values
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire
1         1002       Abed  ...
2         1003     Walter  ...
3         1004     Dwight  ...   Pennsylvania   18503
4         1005        Jon  ...
5         1006        Ron  ...
6         1007       Jeff  ...
7         1008   Sherlock  ...
8         1009    Gandalf  ...
9         1010      Peter  ...       New York
10        1011    Samwise  ...          Shire
11        1012      Harry  ...
12        1013        Don  ...
13        1014     Leslie  ...
14        1015       Toby  ...
15        1016        Ron  ...
16        1017   Michael   ...   Pennsylvania
17        1018      Clark  ...
18        1019      Creed  ...
19        1020     Anakin  ...       Tatooine

[20 rows x 10 columns]

In [113]:
df.replace(to_replace='N/a',value='',inplace=True)      #replacing Na with blanks
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire
1         1002       Abed  ...
2         1003     Walter  ...
3         1004     Dwight  ...   Pennsylvania   18503
4         1005        Jon  ...
5         1006        Ron  ...
6         1007       Jeff  ...
7         1008   Sherlock  ...
8         1009    Gandalf  ...
9         1010      Peter  ...       New York
10        1011    Samwise  ...          Shire
11        1012      Harry  ...
12        1013        Don  ...
13        1014     Leslie  ...
14        1015       Toby  ...
15        1016        Ron  ...
16        1017   Michael   ...   Pennsylvania
17        1018      Clark  ...
18        1019      Creed  ...
19        1020     Anakin  ...       Tatooine

[20 rows x 10 columns]

In [138]:
for x in df.index:                                      #if Do_Not_Contact is Y delete row
    if df.loc[x,'Do_Not_Contact']=='Y':
        df.drop(x,inplace=True)
        
        
df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire
2         1003     Walter  ...
4         1005        Jon  ...
6         1007       Jeff  ...
7         1008   Sherlock  ...
8         1009    Gandalf  ...
9         1010      Peter  ...       New York
10        1011    Samwise  ...          Shire
11        1012      Harry  ...
12        1013        Don  ...
13        1014     Leslie  ...
14        1015       Toby  ...
15        1016        Ron  ...
16        1017   Michael   ...   Pennsylvania
17        1018      Clark  ...
19        1020     Anakin  ...       Tatooine

[16 rows x 10 columns]

In [141]:
for x in df.index:                                  
    if df.loc[x,'Do_Not_Contact']=='':
        df.drop(x,inplace=True)

df

    CustomerID First_Name  ...          State Zipcode
0         1001      Frodo  ...          Shire
4         1005        Jon  ...
7         1008   Sherlock  ...
9         1010      Peter  ...       New York
12        1013        Don  ...
13        1014     Leslie  ...
14        1015       Toby  ...
15        1016        Ron  ...
16        1017   Michael   ...   Pennsylvania
19        1020     Anakin  ...       Tatooine

[10 rows x 10 columns]